@import "tailwindcss";

@theme {
	--color-pastel-yellow: #faf9d1;
	--color-dark-gray: #374151;
	--color-light-gray: #f9fafb;
	--color-pastel-pink: #f8c9d3;
	--color-pastel-blue: #a3d5ff;
	--color-pastel-purple: #d1c4e9;
	--color-dark-pastel-purple: #6b45ba;
	--color-pastel-green: #c8e6c9;
	--color-dark-gray: #333333;
	--color-light-gray: #f9fafb;

	--font-family-heading: "Inter", "sans-serif";
	--font-family-body: "Inter", "sans-serif";
}
